.App-header {
  background-color: #172740;
  min-height: 100vh;
  display: flex;
  padding: 10vh 0 0 5vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
   font-size: calc(16px + 1vw);
  color:#030d20;
}
#map{
  height:300px;
}

